
docs/*
!docs/*.md
!docs/*.txt

build/*

htdocs/*
!htdocs/index.html
!htdocs/tests

src/*
!src/hin
!src/http
!src/lua
!src/netcode
!src/system

external/*
!external/basic
!external/ebuild
!external/docker
!external/tests

workdir/config.lua

workdir/ssl/*

workdir/logs/*
!workdir/logs/.keep

*.pem
*.key
*.crt

*.jpg
*.png
*.img
*.log
*.tar.gz

perf.data*
*.c1
*.h1

/mark.lua
