docs/*
!docs/*.md
!docs/*.txt

build/*

htdocs/*
!htdocs/index.html

src/*
!src/hin
!src/http
!src/lua
!src/netcode
!src/system

external/*
!external/basic
!external/ebuild
!external/docker

workdir/config.lua

*.pem
*.key
*.crt

*.jpg
*.png
*.img
*.log
*.tar.gz

perf.data*
*.c1

/mark.lua
