
docs/*
!docs/*.md
!docs/*.txt

build/*

htdocs/*
!htdocs/index.html
!htdocs/tests

src/*
!src/hin
!src/http
!src/lua
!src/netcode
!src/system

external/*
!external/basic
!external/packaging
!external/docker
!external/tests
!external/tools

workdir/config.lua

workdir/ssl/*

workdir/logs/*
!workdir/logs/.keep
workdir/config/*
!workdir/config/00_defines.lua
!workdir/config/10_localhost.lua
!workdir/config/_20_proxy.lua
!workdir/config/_20_fcgi.lua
!workdir/config/_20_null_request.lua
!workdir/config/99_default.lua

*.pem
*.key
*.crt

*.jpg
*.png
*.img
*.log
*.tar.gz

perf.data*
*.c1
*.h1

/mark.lua
